# .gitignore
*
!*/
anyenv

# whitelist
!/dunst/**
!/i3/**
!/i3status/**
!/nixpkgs/**
!/picom/**
!/alacritty/**
!/termite/**
!/terminator/**
!/nvim/**
!/dein/**
!/fish/config.fish
!/redshift.conf

!/.gitignore
!/README.md
